section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes  animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.cima {
    position: relative;
    display: flex;
    height: 320px;
    justify-content: center;
}

.baixo {
    position: relative;
    display: flex;
    height: 320px;
    justify-content: center;
}

.container {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

strong {
    color: white;
}

.image {
    display: block;
    width: 300px;
    height: 250px;
}


.buttons {
    margin-top: 10px;
}

.buttons button {
    margin-right: 5px;
}
