small{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
div{
    text-align: right;
}
textarea{
    text-align: right;
    border-color: black;
    background-color: gray;
    color: white;
}
button{
font-size: small;
align-items: baseline;
}